@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin: 0 auto;
}
.wrapper{
  margin: 0 auto;
  max-width: 1110px;
}
/*TITLES*/
.title{
  background-color: #162A41;
  color: white;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  padding: 20px 0;
}
.logtitle{
  background-color: #162A41;
  color: white;
  text-align: center;
  padding: 50px 0;
}
/*HEADER*/
.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
.homelogo{
  width: 296px;
  height: 49px;
}
.logbtn{
  display: flex;
  padding-left: 300px;
}
.headerinfo{
  display: flex;
}
.headerinfo p{
  margin-right: 20px;
}
.headertop {
  display: flex;
  background-color: #162A41;
  color: white;
  justify-content: space-evenly;
  padding: 10px 0;
}
.headerbtm{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  color: #162a41;
  padding: 10px 0;
}

/*FOOTER*/
footer{
  position: relative;
}
.footercontainer{
  background-color: #F8F8FB;
  height: 500px;
  padding-top: 50px;
}
.footercontainerleft{
  display: grid;
  background-color: white;
  grid-template-columns: 50px 100px;
  padding: 50px;
  width: 444px;
  height: 434px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: absolute;
}
.footericon{
  width:60px;
  height:60px;
  color: white;
  background-color: #162A41;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-radius: 50%;
  margin-bottom: 40px;
}
.footertext{
  padding: 0 20px;
  display: grid;
  grid-template-rows: 105px 105px 100px ;
}
.icontext{
  width: 250px;
}
.footercontainerright{
  line-height: 40px;
  padding-left: 550px;
}
.logodms{
  background-color: white;
  padding: 70px 0 0 550px;
  height: 227px;
  width: 400px;
}
.footercredit{
  text-align: center;
  background-color: #162A41;
  padding: 30px 0;
  color: white;
}
.footertextbutik{
  width: 300px;
}
.footertext h3{
  font-size: 12;
  color: #7B7B7B;
}
.footertext p{
  font-size: 18px;
  font-weight: 500;
}
/*HOME*/
/*HOME BANNER*/
.banner{
  position: relative;
}
.homesearch{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
}
.homesearchbox{
  background-color: white;
  width: 920px;
  height: 202px;
  color: #162a41;
  padding: 40px 0 0 35px;
}
.homesearchbarform{
  width: 728px;
  height: 48px;
  border: solid 2px #D3DEE8;
}
.homesearchbar{
  display: flex;
}
.homesearchbarbtn{
  width: 120px;
  height: 48px;
  background-color: #162A41;
  color: white;
  margin-left: 10px;
}
input{
  width: 720px;
  display: flex;
  padding: 10px 0 0 10px;
  border: none;
}
input:focus {
  outline: none;
}
.resultsList{
  width: 728px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  max-height: 150px;
  overflow-y: scroll;
}
.searchresult{
  padding: 10px 20px;
}
.searchresult:hover{
  background-color: #efefef;
}
.hometext{
  text-align: center;
  padding-top: 70px;
}
/*INTRO*/
.introcon{
  display: flex;
  padding: 80px 0;
}
.introicons{
  display: flex;
  padding: 50px 0;
}
.introicon{
  display: flex;
}
.househand, .house{
  background-color: #EEF7FF;
  width: 70px;
  height: 70px;
}
.introinfo{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 100px 0;
}
.infoicon{
  background-color: #EEF7FF;
  width: 50px;
  height: 50px;
}
/*NEWS*/
.newsdiv{
  background-color: #162A41;
  height: 284px;
}
.newscon{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
}
.newsform{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 2px #D3DEE8;
}
.newsform input{
  width: 500px;
  height: 74px;
}
.newsform button{
  background-color: white;
  font-size: 28px;
}
/*WORKERS INDEX 3*/
.workerscon{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
margin-bottom: 100px;
margin-left: 50px;
}
.workersbtn{
  background-color: #162A41;
  color:white;
  width: 192px;
  height: 64px;
  margin-left: 455px;
  margin-bottom: 70px;
  border-radius: 2px;
}
/*APP*/
.homeapp{
  position: relative;
  height: 512px;
  background-color: #162A41;
}
.divtest{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
.homeapptext{
  padding-top: 100px;
}
.homeapptext p{
  padding-bottom: 25px;
  width: 650px;
  font-size: 18px;
}
.homeappbtn{
  display: flex;
}
.gpbtn{
  width: 189px;
  height: 62px;
  background-color: white;
  color: #162A41;
  display: grid;
  grid-template-columns: 25px 25px;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 0 0 35px;
}
.asbtn{
  width: 189px;
  height: 62px;
  border: solid 2px white;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 25px 25px;
  margin-left: 15px;
  font-size: 18px;
  padding: 15px 0 0 35px;
}
.phonel{
  position: absolute;
  z-index: 1;
  left: 55%;
  top: 17%;
  width: auto;
  height: auto;
}
.phoner{
  position: absolute;
  left: 65%;
  top: 17%;
  width: auto;
  height: auto;
}
/*HOUSE*/
.housecon{
  display: grid;
  grid-template-columns: repeat( 2, minmax(0, 1fr));
  gap:30px;
  padding-bottom: 50px;
}
.house2ndcon{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-top: 50px;
  border-radius: 2px;
  width: 540px;
  height: 550px;
  margin-bottom: 30px;
}
.house3rdcon{
  display: flex;
}
.house4thcon{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  padding-top: 10px;
}
/*CONTACT*/
.contactform{
  border: solid 2px #D3DEE8;
  width: 635px;
  height: 750px;
  padding: 40px 0 0px 40px;
  margin-bottom: 100px;
}
.formgroup input, .formgroup textarea{
  border: solid 2px #D3DEE8;
  margin: 15px 0;
}
.formgroup{
  font-size: 18px;
}
.contactformname{
  display: flex;
  gap: 20px;
}
.contactformname input{
  width: 267px;
  height: 60px;
  padding: 0 0 0 15px;
  margin-top: 30px;
}
.contactformsubject{
  display: grid;
  grid-template-rows: 40px 1fr;
  padding: 30px 0 0 0;
}
.contactformsubjecttext{
  width: 554px;
  height: 60px;
  padding: 15px 0 0 15px;
}
.contactformmessage{
  display: grid;
  grid-template-rows: 40px 1fr;
  padding: 20px 0 0 0 ;
  width: 554px;
  height: 214px;
}
.contactformmessagetext{
  padding: 15px 0 0 15px;
}
.contactformcheck{
  display: flex;
}
.contactformcheck input{
  width: 25px;
  height: 25px;
}
.contactformcheck{
  margin: 15px 15px 25px 0;
  gap: 10px;
}
.contactform button{
  background-color: #162A41;
  color: white;
  width: 168px;
  height: 62px;
  border-radius: 3px;
}
.contactformcon{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.contactforminfo{
  border: solid 2px #D3DEE8;
  padding-left: 50px;
  width: 445px;
  height: 750px;
  
}
.contactformicon{
  width:50px;
  height:50px;
  color: white;
  background-color: #162A41;
  border-radius: 50%;
  padding: 8px 0 0 10px;
  margin-left: 80px;
  font-size: 30px;
}
.contactforminfocon{
  padding: 20px 0 0 75px;
  margin-top: 40px;
  width: 286px;
  height: 168px;
}
.contactforminfotext{
  text-align: center;
}
/* AGENT*/
.agentscontainer{
  display: grid;
  grid-template-columns: repeat( 3, minmax(0, 1fr));
  margin-bottom: 40px;
}
/*AGENT ID*/
.agentinfo{
  display: flex;
  gap:12px;
}
.agentinfoicon{
  display:grid;
  gap:8px;
}
.searchpropertyform{
  display: flex;
  width: 290px;
  height: 42px;
  border: solid 2px #D3DEE8;
  background-color: white;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
}
.searchproperty{
  width: 350px;
  height: 175px;
  background-color: #EEF7FF ;
 
  margin-left: 20px;
}
.searchproperty h2{
  font-size: 24px;
  font-weight: 500;
}
.agent{
  display: flex;
  margin-top: 100px;
}
.agentad{
  width: 350px;
  height: 450px;
  background-color: #162A41;
  color:white;
  font-size: 30px;
  font-weight: 500;
}
.agentcon{
  border: 2px solid #D3DEE8;
  width: 730px;
  height: 1320px;
  padding: 40px 0 0 40px;
  margin-bottom: 100px;
}
.agentform{
  margin-top: 50px;
}
.agentad{
  text-align: center;
  padding-top: 80px;
  font-size: 30px;
}
/*.img{
  width: auto;
  height: auto;
}*/
.homesimg{
  width: auto;
  height: auto;
}
/*NOT FOUND*/
.notfound{
  text-align: center;
  background-color: #EEF7FF;
  padding-bottom: 70px;
}
.notfoundbtn{
  background-color: #162A41;
  color:white;
  width: 215px;
  height: 64px;
  border-radius: 2px;
}
.notfoundtitle{
  color: black;
  font-weight: 700;
  font-size: 200px;
  /*-webkit-text-stroke-width: 2px;*/
}
/*LOGIN*/
.logform{
  border: solid 2px #D3DEE8;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 920px;
  height: 746px;
  margin-top: 100px;
  padding-left: 200px;
  margin-bottom: 100px;
}
.loginput{
  border: solid 2px #D3DEE8;
  width: 540px;
  height: 60px;
  margin: 10px 0 30px 0;

}
.loginbtn{
  background-color: #162A41;
  color: white;
  width: 540px;
  height: 60px;
  border-radius: 2px;
}
.logkonto{
  display: flex;
  padding-left: 150px;
  padding-top: 30px;
}